body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(12, 20, 70);
  background: linear-gradient(
    70deg,
    rgb(70, 12, 12) 0%,
    rgba(149, 55, 55, 0.39) 50%,
    rgb(70, 12, 12) 0%,
    rgba(149, 55, 55, 0.39) 50%
  );
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.leaflet-container {
  min-width: 800px;
  min-height: 650px;
  border-radius: 20px;
}
